/* Main layout for the category section and filter page */
.mainCategory {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  margin-left: 10%;
}

/* Category section */
.category {
  margin-top: 150px;
position: relative;
  display: flex;
  flex-direction: column;

  min-width: 22vh;
  width: 20%;
  padding: 20px;
  border: 1px solid #ecc6b2;
  border-radius: 8px;

  justify-content: flex-start;
  text-align: flex-start;
}

.category h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.Section,
.dressType {
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 16px;
  margin: 8px 0;
}

input[type="radio"] {
  margin-right: 10px;
}

/* Filter Page */
.filterPage {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Search and Filter Section */
.search {
  display: flex;
  align-items: center;
  gap: 1vh;
  max-width: 180px;
  margin-bottom: 20px;
}

.search input[type="search"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;

  min-width: 100%;
}

.search button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.search button:hover {
  background-color: #555;
}

/* Dropdown (select) filter */

/* Cards Layout */
.filterCards {
  padding-top: 20px;
  overflow: hidden;
}

.filterCards ul {
  display: flex;
  flex-wrap: wrap;
}

.filterCards ul li {
  list-style: none;
  padding: 5px;
}

@media (max-width: 650px) {
  .mainCategory {
    display: flex;
    flex-direction: column;
  }
  .category {
    margin-top: 150px;

    display: flex;
    flex-direction: row;
    min-width: 22vh;
    width: 80%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    justify-content: space-between;
  }
  .Section,
  .dressType {
    margin-bottom: 0px;
  }
  input[type="radio"] {
    margin: 5px;
  }
}
